.btn {
  display: inline-block;
  padding: 14px 24px;
  border-radius: $radius-md;
  font-weight: 600;
  cursor: pointer;
  transition: all .2s ease;
  border: none;
}

.btn-primary {
  background: $dark;
  color: #fff;
}

.btn-primary:hover {
  background: #000;
}

.btn-danger {
  background: $primary;
  color: #fff;
}

.btn-danger:hover {
  filter: brightness(0.9);
}
